{% extends "PostBox/base_post.html" %}

{% block title %}Team Feedback Postal Service{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'PostBox:selection' %}" method="get">
  <input type="radio" name="choice" id="1" value="1"/>
  <label for="1">I want to post a Thank you.</label><br/>
  <input type="radio" name="choice" id="2" value="2"/>
  <label for="2">I want to post a feedback.</label><br/>
  <br/><b>TO:</b><br/><br/>
  <select name="user_list" size="10">
  {% for user in user_list %}
    <option value="{{ user.id }}" selected>{{ user.username }}</option>
  {% endfor %}
  </select>
  <br/><br/>
  <input type="submit" value="Write the Post"/>
</form>

{% endblock content %}
